@mixin centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    @include centerBlock();
}

.width-80 {
    width: 80%;
}

.center-text{
    text-align: center;
    @include centerBlock();
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .repo-card {
        width: 300px;
        max-width: 350px;
        margin: 5px;


        @media screen and (max-width: 700px) {
            width: 250px;
        }


        .repo-header-image {
            background-size: cover;
        }
    }

}


p {
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
}

.spinner {
    @include centerBlock();
}